@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.02);
}

.intro-text p {
  text-align: center;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 2.77rem;
  color: #111;
}

h1, h2 {
  font-family: 'Lato';
  font-weight: 700;
}

.about, .people, .contact {
  padding: 50px 0 0 0;
}

.about p {
  font-style: italic;
  font-size: 1.22rem;
  /*font-weight: bold;*/
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  opacity: 0.8;
}

footer {
  padding: 80px 0 10px 0;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
}
