.hero
  .row
    .large-12.columns.intro-text
      p Nodesphere

      img(src='img/isomorph.jpg')

      p Unifying all of the things

.row.about
  .large-12.columns
    != partial('content/about')
