.hero
  .row
    .large-12.columns.intro-text
      p Nodesphere
      iframe(
        src="http://face.nodesphere.org/"
        width="100%"
        height="333")
      p Unifying all of the things

.row.about
  .large-12.columns
    != partial('content/about')
