/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);*/
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Corben);

body {
  font-family: 'Merriweather', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.02);
}

.intro-text p {
  text-align: center;
  font-family: 'Corben';
  font-weight: 400;
  font-size: 2.77rem;
  color: #111;
}

h1, h2 {
  font-family: 'Corben';
  font-weight: 400;
}

.about {
  padding: 3rem 0 0 0;
}

.about p, .about li {
  font-size: 1.2rem;
  /*font-weight: bold;*/
}

ul {
  margin-top: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  opacity: 0.8;
}

footer {
  padding: 80px 0 10px 0;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
}
